

@font-face {
  font-family: "HKGroteskPro";
  font-weight: 400;
  src: url("#{$path-to-fonts}/HK%20Grotesk%20Pro/HKGroteskPro-Regular.woff2") format("woff2"),
  url("#{$path-to-fonts}/HK%20Grotesk%20Pro/HKGroteskPro-Regular.woff") format("woff");
}

.fe {
  font-family: 'Feather' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $gray-700;
  font-size: 1rem;
}

a{
  text-decoration: none;
  color: $primary;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-black {
  color: $black !important;
}

.text-white {
  color: $white !important;
}

.text-light {
  color: #F9FBFD !important;
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75) !important;
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-primary {
  color: $primary !important;
}

.text-muted {
  color: $gray-600 !important;
}
.text-muted-80 {
  color: rgba(134, 154, 184, 0.8) !important;
}

.text-gray-700 {
  color: $gray-700 !important;
}

.display-2 {
  line-height: 1.2;
}

.display-3 {
  line-height: 2.25rem;
  font-weight: 400;
}

.opacity-1 {
  opacity: 1 !important;
}


.shadow {
  //box-shadow: 0 0.5rem 1.5rem rgb(22 28 45 / 10%) !important;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.fw-bold {
  font-weight: 600 !important;
}


h1, .h1, h2, .h2, .h1, .h2 {
  margin-bottom: 1rem;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, .h1, .h2, .h3, .h4 {
  letter-spacing: -0.01em;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1;
}

h3, .h3 {
  font-size: 1.3125rem;
  line-height: 1.4;
}

h2, .h2, .h2 {
  line-height: 1.35;
}

h6, .h6 {
  font-size: 0.75rem;
}

h6, .h6, .h6 {
  line-height: 1.55;
}

h6.text-uppercase, .text-uppercase.h6, .h6.text-uppercase {
  letter-spacing: .08em;
}

.text-reset {
  color: inherit !important;
}



@media (max-width: 991.98px){
  .display-2 {
    font-size: 2.5rem;
  }

  .display-3 {
    font-size: 2.25rem;
  }
  .lead {
    font-size: 1.1875rem;
  }

  h2, .h2, .h2 {
    font-size: 1.5rem;
  }
}
